@import url(fonts-lesson-5.css);

.container {
    box-sizing: content-box;
    width: 1440px;
    padding: 120px 104px;
    margin: 0 auto;
    background-color: #10367C;
}

.row {
    display: flex;
    justify-content: space-between;
            }

.item-3 {
    width: 33.3%;
        }
ul {
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 24px;
    color: #FFFFFF;
    list-style-type: none;
}

.caption-footer {
    font-weight: 500;
}

.copy {
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}