@import url(Style-fonts-lesson-4.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 105px;
    font-size: 40px;
    line-height: 47px;
}

.home {
    padding-top: 120px;
    background-color: #EAF0F9;
}

.home > .container {
    margin-top: 0;
}

.container {
    width: 1440px;
    padding: 0 16px;
    margin: 120px auto 0;
    box-sizing: content-box;
}

.row {
    display: flex;
  justify-content: space-between;
    padding: 0 100px;

    margin-bottom: 122px;
}

.item-4 {
    width: 25%;
    }

.text-center {
    text-align: center;
}

.title-line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    margin: 0 auto 80px;
}

.icon-wrap {
    height: 100px;
    margin-bottom: 48px;
}

.text-size {
    font-size: 24px;
    line-height: 28px;
}

image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 296px;
    margin-bottom: 24px;
}

.text-blue {
    color: #3077C6;
    text-align: left;
}

.text-grey {
    color: #BFBFBF;
}

.box {
    display: inline-flex;
    margin-top: 24px;
    width: 295px;
    justify-content: flex-start;
}

