@import url(fonts-lesson-5.css);

.container {
    width: 1440px;
    padding: 120px 104px;
    background-color: #10367C;
}

.row {
    display: flex;
    justify-content: space-between;
        }

.item-3 {
    width: 33.3%;
    }

.text-footer {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.caption-footer {
    font-weight: 500;
}

.copy {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 103px;
    font-family: Roboto, sans-serif;
    font-weight: 400;

}