@import "./fonts.css";

:root {
    --primary-dark: #10367C;
    --primary: #3077C6;
    --secondary: #F5BD41;
    --dark100: #121212;
    --dark200: #1D1E1F;
    --dark300: #4D4D4D;
    --general-white: #FFFFFF;
    --primary-text: #383838;
    --secondary-text: #BFBFBF;
    --stroke-color: #F3F3F4;
    --bg-color: #EAF0F9;

    --bg-black-7: rgba(56, 56, 56, 0.7);
    --bg-black-4: rgba(56, 56, 56, 0.4);
    --bg-black-5: rgba(56, 56, 56, 0.5);

    --col-size: calc(100% / 12);
}

.sprite {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text-center {
    text-align: center;
}

.container {
    width: 1440px;
    margin: 0 auto 0;
    box-sizing: border-box;
    padding: 0 104px 122px;
}
header {
    background-image: url("../image/bg-image.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: var(--primary-dark);
    color: var(--general-white);
    padding: 0 104px;
}
/*
header > .container {
    height: 100vh;
}*/

.logo-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 51px;
    flex-wrap: wrap;
}

.logo {
    fill: var(--primary);
    width: 205px;
    height: 40px;
    margin-right: auto;
    margin-bottom: 17px;
}

[class*="hr-"] {
    height: 45px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--general-white)
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hr-1 span.text-size, .hr-2 span.text-size {
   color: var(--general-white);
}

.hr-1:after, .hr-2:hover:after {
    content: '';
    background-color: var(--secondary);
    width: 50px;
    height: 4px;
    position: absolute;
    top: 40px;
}

h2:hover:after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--secondary);
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 50px);
    bottom: -22px;
}

h2:after, hr-1:after, hr-2:after {
    transition: transform 1s ease-in-out 200ms;
}

h2:hover:after, .hr-1:hover:after, .hr-2:hover:after {
    transform: scale(1.5);
    transition: transform 1s ease-in-out 200ms;
    cursor: pointer;

}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-white {
    fill: var(--general-white);
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-bottom: 17px;
}

.svg-white.night {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.offer svg.carousel--button_down {
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
    margin: 48px auto 0;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-row > div.check:first-child {
    width: 467px;
}

.svg-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.svg-row svg {
    width: 135px;
    height: 40px;
    margin-left: 17px;
}

select {
    color: var(--primary-text);
    width: 275px;
    height: 64px;

}

select.city {
    width: 467px;
}

select.room {
    width: 314px;
}

.check {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 24px;
}

.thead {
    padding-bottom: 24px;
}

button {
    padding-right: 0;
    background-color: var(--primary);
    min-width: 192px;
    height: 64px;
    align-items: flex-end;
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 8px;
}

button.calendar {
    background-color: var(--general-white);
    width: 259px;
    height: 64px;
    color: var(--primary-text);
    padding-left: 0;
    border: 3px solid var(--secondary);
    border-radius: 8px;
}
 header .header-button {
     color: var(--general-white);
 }

.offer-button {
    margin-bottom: 65px;
    background-color: var(--stroke-color);
    padding: 0 24px;
}

button.calendar:hover {
    cursor: pointer;
}

.button-back:hover, .offer-button:hover, .header-button:hover {
    cursor: pointer;
    color: var(--general-white);
    background-color: var(--primary)
}

.button-row:last-of-type(button) {
    width: 238px;
}

h1 {
    padding-top: 185px;
    padding-bottom: 100px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
}

h2 {
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    color: var(--primary-text);
}

.offer {
    padding-top: 120px;
}

.row {
    display: flex;
    margin: 0 -8px;
    flex-wrap: wrap;
    width: calc(var(--col-size) * 12);
    position: relative;


    /*justify-content: space-between;
    padding: 0 100px 122px;
    flex-wrap: wrap;*/
}

[class*="col"] {
   /* padding: 0 8px;*/
    flex-grow: 1;
    display: block;
}

[class*="col-"] {
   /* padding: 0 8px;*/
    flex-grow: 0;
}

.col-1 {
    width: var(--col-size);
}

.col-2 {
    width: calc(var(--col-size) * 2);
}

.col-3 {
    width: calc(var(--col-size) * 3);
}

.col-4 {
    width: calc(var(--col-size) * 4);
}

.col-5 {
    width: calc(var(--col-size) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(var(--col-size) * 7);
}

.col-8 {
    width: calc(var(--col-size) * 8);
}

.col-9 {
    width: calc(var(--col-size) * 9);
}

.col-10 {
    width: calc(var(--col-size) * 10);
}

.col-11 {
    width: calc(var(--col-size) * 11);
}

.col-12 {
    width: 100%;
}

.col-3 {
    position: relative;
    height: 343px;
}

.col-4 {
    position: relative;
    width: 400px;
    height: 400px;
}
.col-3-front {
    z-index: 5;
    position: absolute;
    width: 296px;
    height: 295px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--bg-black-4);
    box-shadow: inset 0 4px 70px var(--bg-black-5);
}

.col-3_hover {
    position: relative;
    width: 296px;
    height: 295px;
}
.col-3_hover:hover .col-3-front {
visibility: visible;
    cursor: pointer;
    z-index: 10;
}

.col-3-back {
    z-index: 1;
    position: absolute;
    }


.button-back {
    min-width: 0;
    width: 128px;
    height: 48px;
    background-color: var(--general-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    margin: 0;
    text-align: center;
    padding-left: 0;
}

p.check {
    color: var(--general-white);
    position: absolute;
    transform: translateY(calc(50% + 5px));
   }

.carousel--button_next {
    position: absolute;
    right: -15px;
    top: 130px;
}

.carousel--button_next:hover, .carousel--button_down:hover {
    cursor: pointer;
}

svg {
    /*  width: 1em;
      height: 1em;*/
    fill: currentcolor;
}

.offer svg {
    width: 90px;
    height: 90px;
    color: var(--primary);
    margin: 0 auto 48px;
}

.offer span {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
}

.home {
    padding-top: 120px;
    background-color: var(--bg-color);
}

.home > .container {
    margin-top: 0;
}

.home hr {
    visibility: hidden;
}
home .col-3 {
    height: 404px;
}

.title-line {
    width: 100px;
    height: 4px;
    background-color: var(--secondary);
    margin: 0 auto 85px;
}

.text-size {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
}

div.container.container-sign-up {
    padding-bottom: 0;
}

.sign-up-block {
    padding: 25px 0 52px;
    display: inline-flex;
}

.sign-up-block-left {
    width: 86px;
    height: 86px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.sign-up-block-right {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-text-size{
    font-weight: 500;
    padding-bottom: 21px;
   }

.col-4-front {
    position: absolute;
    z-index: 1;
}
.col-4-back {
    position: absolute;
    z-index: 10;
    background-color: var(--bg-black-7);
    width: 400px;
    height: 48px;
    bottom: 0;
}

.row-col-4 {
display: flex;
    flex-direction: column;
    height: 1160px;
    width: 400px;
}

.col-4-text {
    background-color: var(--bg-color);
    padding: 24px;
    position: absolute;
   }






span.text-size {
    margin-bottom: 12px;
    height: 40px;
}

.hide {
    display: none;
}

span.text-size:hover + .hide {
    display: block;
}

image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 296px;
    margin-bottom: 24px;
}

.text-blue {
    color: var(--primary);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.image-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-grey {
    color: var(--secondary-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.box {
    display: inline-flex;
    margin-top: 24px;
    width: 295px;
    text-align: left;
}
.col-3-box {
    position: absolute;
    bottom: 0;
}
.sign-up {
    background-color: var(--bg-color);
    width: 1232px;
    height: 200px;
}

.cross {
    width: 26px;
    height: 26px;
   display: flex;
    justify-content: flex-end;
}




footer {
    padding-top: 120px;
    background-color: var(--primary-dark);
}

.title-footer {
    display: none;

}

.title-footer svg {
    width: 100%;
    height: 100%;
    fill: var(--general-white);
}

.item-3 {
    width: 33.3%;
    display-role: 0;
}

li {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: var(--general-white);
    list-style-type: no;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.5px;
}

.copy {
    font-size: 14px;
    color: var(--general-white);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 60px;
}

ul {
    padding: 0;
}






@media (min-width: 1600px) {
    .container {
        width: 1440px;
    }
}

@media only screen and (max-width: 480px) {

    :root {
        --col-size: calc(100% / 6);
    }

    .container {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 32px;
            }

    hr {
        display: none;
    }

    .row {
        width: calc(var(--col-size) * 3);
    }

    .offer svg {
        font-size: 64px;
        margin-bottom: 16px;
    }

    .offer span {
        font-size: 15px;
    }

    [class*="col"] {
        margin-bottom: 32px;
    }

    .col-1 {
        width: var(--col-size);
    }

    .col-2 {
        width: calc(var(--col-size) * 2);
    }

    .col-3 {
        width: calc(var(--col-size) * 3);
    }

    .col-4 {
        width: calc(var(--col-size) * 4);
    }

    .col-5 {
        width: calc(var(--col-size) * 5);
    }

    .col-6 {
        width: 100%;
    }

    .offer .col-xs-6 {
        margin-bottom: 32px;
    }

    .image {
        width: 156px;
        height: 155px;
        padding: 8px;
    }

    .text-size {
        font-size: 12px;
        line-height: 14px;
    }

    .box {
        margin-bottom: 40px;
    }

    footer {
        padding-top: 0;
    }

    .title-footer {
        display: block;
        margin: 0 131px 40px;
        width: 98px;
        height: 19px;
    }

    .th {
        font-size: 15px;
        font-weight: 500;
        line-height: 17.5px;
    }

    li {
        display: none;
    }

    li.th {
        display: flex;
    }

    .copy {
        margin: 0 auto 40px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }

}